

  .text{
    margin:auto;
  }
  .board{
    width: calc(100vh - 280px);
    max-width: calc(100vw - 50px);
    display:grid;
    grid-gap:10px;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
  }
  .card-outer{
    perspective:1000px;
    height: calc((100vh - 320px) / 4);
    max-height: calc((100vw - 90px) / 4);
  }
  .card{
    border-radius: 5px;
    position: relative;
    width: 100%;
    height: 100%;
    transform:rotateY(180deg);
    transform-style: preserve-3d;
    transition: all 0.3s;
  }
  .card .front, .card .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .card .front img{
    display: block;
    max-width: 100%;
  }
  .card .back{
    background-color: #468;
    transform:rotateY(180deg);
  }
  .card-outer.flipped .card{
    transform:rotateY(0);
  }
  
  
  .stats{
    width: 600px;
    margin: 0 auto;
    text-align: center;
    color: rgb(243, 240, 236);
    padding: 10px 0;
    font-size: 2rem;
  }